lombok.sneakyThrows.flagUsage=warning
lombok.val.flagUsage=warning

lombok.anyconstructor.suppressconstructorproperties=true
lombok.anyconstructor.addconstructorproperties=true
lombok.noargsconstructor.extraprivate=true

lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier